@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradientBubble {
    width: 572px;
    height: 572px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(170, 20, 240, 0.31) 0%, rgba(170, 20, 240, 0) 70%);
}


.body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.orbitron {
    font-family: "Orbitron", sans-serif !important;
}

.oswald> {
    font-family: "Oswald", sans-serif !important;
}

.im-fell-great-primer-sc-regular {
    font-family: "IM Fell Great Primer SC", serif !important;
}

.gradient-btn {
    background: linear-gradient(to right, #BC3CD8, #C54B8C);
    /* padding: 13px 24px; */
}

.mobile-menu {
    background: linear-gradient(to right, #bb3cd832, #c54b8c48);
}

.gradient-border {
    width: 372px;
    height: 304px;
    border: 2px solid #EBA9FFCC;
    position: absolute;
    transform-origin: center;
    transform: rotateX(-46deg) rotateY(-12deg);
    left: -28px;
    top: -121px;
    border-radius: 50%;
}

.shape-polygon {
    clip-path: polygon(0 0, 82% 0, 100% 13%, 100% 100%, 0% 100%);
}


.shape-polygon-item-pic::before {
    content: "";
    position: absolute;
    width: 99%;
    height: 99%;
    background-color: #010207;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    clip-path: polygon(0 0, 82% 0, 100% 13%, 100% 100%, 0% 100%);
}


.shape-polygon-div {
    clip-path: polygon(0% 0%, 92% 0%, 100% 35%, 100% 100%, 0% 100%);
    background: linear-gradient(to bottom, #FFFFFF 0%, #AA14F0 100%);
}

.shape-polygon-item-div::before {
    content: "";
    position: absolute;
    width: 99%;
    height: 98%;
    background: #534686;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    clip-path: polygon(0% 0%, 92% 0%, 100% 35%, 100% 100%, 0% 100%);
}

.blur-content {
    background: rgba(255, 255, 255, 0.23);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.4px);
}

.bg-gradient-purple {
    background: linear-gradient(to bottom, #2F0643, #200626, #09010E);
    border: 1px solid #B936F523;
}

.small-boxes-bg {
    background: linear-gradient(to bottom, #341B38, #251021, #130613);
    border: 1px solid #B936F523;
}